<!DOCTYPE html>
<html data-ng-app="myApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aldrin Hernando - Web Developer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--angularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body data-ng-controller="mainCtrl"  id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" data-ng-class="{'top-nav-collapse' : scrollLoc}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll hvr-underline" href="#page-top">
                    Home
                </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll hvr-underline" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll hvr-underline" href="#web">Web Dev</a>
                    </li>
                    <li>
                        <a class="page-scroll hvr-underline" href="#music">Music</a>
                    </li>
                    <li>
                        <a class="page-scroll hvr-underline" href="#photography">Photography</a>
                    </li>
                    <li>
                        <a class="page-scroll hvr-underline" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div id="intro-background" class="intro">
            <div class="intro-body">
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8 col-md-offset-2">-->
                         <div class="brand-header">
                            <h1 class="brand-heading">Aldrin Hernando</h1>
                            <p class="intro-text">Web Developer, Music Composer, Photographer</p>
                         </div>

                <!--<div class="intro-info">-->
                                <a href="#about" class="btn btn-circle page-scroll scroll-down">
                                    <i class="fa fa-angle-double-down animated"></i>
                                </a>
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <!--<div class="gap"></div>-->
        <div id="about-background">
            <div class="header">
                <h2>About</h2>
                <div class="line"></div>
            </div>
            <!--<div class="container-fluid">-->
                <!--<div class="row">-->
                    <div class="aboutBody">
                        <p class="black">Self-taught, Freelance Web Developer who also just recently graduated from Dev Mountain Web Development Bootcamp (april 2015) and Looking for a Full-time Opportunity.</p>
                            <!--<ul>-->
                            <!--<li>Front-End Web Development, HTML, CSS & AngularJS Framework.</li>-->
                            <!--<li>Responsive Single-Page Web Applications.</li>-->
                            <!--<li>Excellent Communication and Problem-Solving Skills</li>-->
                            <!--</ul>-->
                        <div class="text-box">
                            <div class="paragraph">
                                <p2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; After graduating from DevMountain, I started working for  a start-up Company (Guesterly) as a Contracting Jr. Web Developer, and Just recently (June, 2015) started to work for another start-up (Xpayable) as a Contracting(part-time-flex) Web Developer.
                                </p2>
                                <br/><br/>
                                <p2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; During this part of my Web Development Journey, I was still working for the United States Postal Service as a window clerk but because of my desire to code and love for Web Development, I decided to go ALL IN and resign from the Post Office(June, 2015) to be able to code full-time, continue growing and learning as I seek for my first Full-time Employment as a Web Developer! I then recieved another opportunity to work part-time as a Mentor for DevMountain Web Development Bootcamp.
                                </p2>
                                <br/><br/>
                                <p2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; I BELIEVE in being HONEST and TRUE in all things. I do not want to fake that I know all things web development. I am starting to feel pretty comfortable with AngularJS, HTML, CSS. I know basic javascript and still continuing to learn more. the backend that I am familiar with right now is Firebase, Its not much, But looking back from how I have progressed and what I learned in Only 12 weeks time from Dev Mountain.  I know that I can Learn Fast and will learn the things needed in able to accomplish the tasks that Ive been given.
                                </p2>
                                <br/><br/>
                                <p2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; What Drives Me?... My Family. I am Married and have a 5-month old girl and I want to be successful because of them, not just for myself. though I have passion for Web Development and enjoy Coding,  It is for this purpose that I work harder than I do, and it is where I find more motivation to be the best I can be.
                                </p2>
                                <br/><br/>
                                <p2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; I love to keep a Positive perspective. I can work well and communicate well with others, and I love to Learn and Progress in all aspects of life.
                                </p2>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>

    <!-- Web Development Section -->
    <section id="web" class="content-section text-center">
        <div id="web-background">
            <div class="header">
                <h2>Web Development</h2>
                <div class="line up20"></div>
            </div>
            <div class="webBody container">
                <div class="row">
                    <div ng-repeat="project in projectsLG" class="project-card-container-lg col-sm-6 col-md-6 col-lg-4">
                        <div class="project-card card-hover">
                            <div class="logos-column">
                                <div class="logo" ng-repeat="logo in project.logos">
                                        <img ng-src="{{logo.url}}"/>
                                </div>
                            </div>
                            <div class="open-title">
                                <p>{{project.name}}</p>
                            </div>
                            <div class="project-main-screen" style="background-image: url({{project.screens[0].url}})"></div>
                            <!--<div ng-repeat="screen in project.screens">-->
                                <!--<p>{{screen.content}}</p>-->
                            <!--</div>-->
                            <div class="bottom-info">
                                <i class="fa fa-info closed-info fa-3x"></i>
                                <p class="open-info summary">{{project.summary}}</p>
                            </div>

                        </div>
                    </div>




                    <!--<div class="project-menu col-sm-3"></div>-->
                    <!--<div class="carousel-container col-sm-9">-->
                        <!--<div id="web-carousel" class="carousel slide" data-ride="carousel">-->
                            <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                            <!--<ol class="carousel-indicators">-->
                                <!--<li data-target="#web-carousel" data-slide-to="0" class="active"></li>-->
                                <!--<li data-target="#web-carousel" data-slide-to="1"></li>-->
                                <!--<li data-target="#web-carousel" data-slide-to="2"></li>-->
                            <!--</ol>-->

                            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                            <!--<div class="carousel-inner" role="listbox">-->
                                <!--<div class="item active">-->
                                    <!--<img src="https://dl.dropboxusercontent.com/s/vm3s7w616bqel8u/Screenshot%202015-09-03%2014.37.42.png" alt="...">-->
                                    <!--<div class="carousel-caption">-->
                                        <!--...-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="item">-->
                                    <!--<img src="./img/MainBG2.jpg" alt="...">-->
                                    <!--<div class="carousel-caption">-->
                                        <!--...-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash; Controls &ndash;&gt;-->
                            <!--<a class="left carousel-control" href="#web-carousel" role="button" data-slide="prev">-->
                                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                                <!--<span class="sr-only">Previous</span>-->
                            <!--</a>-->
                            <!--<a class="right carousel-control" href="#web-carousel" role="button" data-slide="next">-->
                                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                                <!--<span class="sr-only">Next</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Music Section -->
    <section id="music" class="content-section text-center">
        <div id="music-background">
            <div class="header">
                <h2>Music Compositions</h2>
                <div class="line up20"></div>
                <div class="recordImg"></div>
            </div>
            <div class="musicBody">
                <h4 class="btn btn-albumMain" ng-click="albumclick(); miniAlbum=''">Albums</h4>
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-albumCover cover1 card-hover" data-ng-class="miniAlbum" ng-click="album1click(); miniAlbum='btn-default btn-lg btn-album'">You Changed (2010)
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-albumCover cover2 card-hover" data-ng-class="miniAlbum" ng-click="album2click(); miniAlbum='btn-default btn-lg btn-album'">Forever Mine (2012)</a>
                    </li>
                </ul>
                <div class="bgaudio" data-ng-class="{'bgaudioclick' : toggle}" data-ng-show="player">
                    <i class="glyphicon glyphicon-music musicBtn grow" ng-click="toggle = !toggle"></i>
                    <audio id="audio" preload="auto" tabindex="0" controls="" >
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <ul id="playlist" class="song-container" ng-show="showalbum">
                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>Turnaround</h4>
                            <a class="songClick" ng-click="player=true" href="https://dl-web.dropbox.com/get/Album/turnaround.mp3?_subject_uid=147182972&w=AAABdKcy715ov6WF_iz_XIAsnuJW7loPsKzg3AXljYU0-A">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & Josh Hatch</h5>
                            <h5><span>Duration: </span>4:58</h5>
                        </div>
                    </li>

                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>Solitude</h4>
                            <a class="songClick" ng-click="player=true" href="audio/Solitude.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & Josh Hatch</h5>
                            <h5><span>Duration: </span>4:30</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>Fearless</h4>
                            <a class="songClick" ng-click="player=true" href="audio/Fearless.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin</h5>
                            <h5><span>Duration: </span>3:00</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>Dreams</h4>
                            <a class="songClick" ng-click="player=true" href="audio/Dreams.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & JB</h5>
                            <h5><span>Duration: </span>3:43</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>Free</h4>
                            <a class="songClick" ng-click="player=true" href="audio/Free.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & JB</h5>
                            <h5><span>Duration: </span>3:08</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum1">
                        <div class="song cover1">
                            <h4>The Island</h4>
                            <a class="songClick" ng-click="player=true" href="audio/TheIsland.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & Joe Knight</h5>
                            <h5><span>Duration: </span>2:47</h5>
                        </div>
                    <li class="songBlock" data-ng-show="showalbum2">
                        <div class="song cover2">
                            <h4 class="darkFont">Will You</h4>
                            <a class="songClick" ng-click="player=true" href="audio/WillYou.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin</h5>
                            <h5><span>Duration: </span>3:24</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum2">
                        <div class="song cover2">
                            <h4 class="darkFont">Closer To You</h4>
                            <a class="songClick" ng-click="player=true" href="audio/CloserToYou.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin & Josh Hatch</h5>
                            <h5><span>Duration: </span>4:07</h5>
                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum2">
                        <div class="song cover2">
                            <h4 class="darkFont">Unquenchable Fire</h4>
                            <a class="songClick" ng-click="player=true" href="audio/UnquenchableFire.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin</h5>
                            <h5><span>Duration: </span>4:27</h5>
                            <h5><span>test: </span>4:27</h5>

                        </div>
                    </li>
                    <li class="songBlock" data-ng-show="showalbum2">
                        <div class="song cover2">
                            <h4 class="darkFont">Night To Day</h4>
                            <a class="songClick" ng-click="player=true" href="audio/NightToDay.mp3">
                                <div class="play-btn"></div>
                            </a>
                        </div>
                        <div class="songDetails">
                            <h5><span>artist: </span>Aldrin</h5>
                            <h5><span>Duration: </span>4:17</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--<section id="photography" class="content-section text-center">-->
        <!--<div class="gap"></div>-->
        <!--<div class="header">-->
            <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--<h2>Photography</h2>-->
                <!--<div class="line up20"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="photographyBody">-->
            <!--<p>test body</p>-->
        <!--</div>-->
    <!--</section>-->


    <section id="photography" class="content-section text-center">
        <div id="photography-background">
            <div class="header">
                <h2>photography</h2>
                <div class="line up20"></div>
            </div>
            <div class="photographyBody">
                <h1>Photography Section <br/> Coming Soon...</h1>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="contact-section text-center">
        <div id="contact-background">
            <div class="header">
                <h2>Contact</h2>
                <div class="line up20"></div>
            </div>
            <div class="contact">
                <p>Feel free to email me, whether you need help with anything, or to just say hello!</p>
                <p><a href="mailto:aldrinh@live.com">aldrinh@live.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.linkedin.com/in/aldrinhernando" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/aldrinh07" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+AldrinHernando" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/aldrin.hernando" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
            <footer>
                <div class="text-center">
                    <p>Copyright &copy; Aldrin Hernando 2015</p>
                </div>
            </footer>
        </div>
        <!-- Footer -->

    </section>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/mainCtrl.js"></script>
</body>
</html>
